<!--
    Web-design, PHP developer
    {{ 'now' | date('m.Y') }} (c) Sergey Makhlenko
    @SergeyMakhlenko (https://t.me/SergeyMakhlenko)

    Site Domain: {{ site_url() }}
    Created Layout: {{ build_date_gulp }}
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ TITLE }}</title>

        <link rel="shortcut icon" href="favicon.png">
        <link rel="apple-touch-icon" href="favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon.png">

        <link rel="stylesheet" href="{{ assets("Application.css") }}">
        <script type="text/javascript" src="{{ assets("Application.js") }}"></script>
    </head>
    <body>

        <div class="wrapper">
            <div class="content">
                {# Header #}
                <header class="header"></header>

                {# body #}
                {% block BODY %}
                    <div class="container">
                        Страница еще не заполнена. Пожалуйста зайдите сюда позже.
                    </div>
                {% endblock %}
            </div>

            {# Footer #}
            <div class="footer"></div>
        </div>
    </body>
</html>